/build
*.iml
.gradle/
local.properties
.idea/
.idea/workspace.xml
.idea/libraries
.DS_Store
build/
captures/
.externalNativeBuild
misc.xml
.DS_Store
bin/
gen/
out/
release/
final_packet/
node_modules/
dist/
.cxx/
/.cxx/